<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input class="form-control" formControlName="name" type="text" placeholder="WRITE THE BAND'S NAME">
        </div>
        <div class="form-group">
            <input class="form-control" formControlName="img" type="text" placeholder="TYPE THE LOGO URL">
        </div>
        <div class="form-group">
            <input class="form-control" formControlName="description" type="text" placeholder="ADD SOME DESCRIPTION">
        </div>
        <div class="form-group">
            <input class="form-control" formControlName="song" type="text" placeholder="TYPE THE YOUR FAV VIDEO URL">
        </div>
        <input type="submit" value="ADD ME" class="button" [disabled]=!form.valid>
    </form>
</div>
