input.form-control,
input.button {
	border: none;
	outline: none;
	border-bottom: 1px solid darkgray;
	padding: 2em 2em 2em 0;
	width: 60%;
	min-width: 320px;
	margin-top: 2em;
	letter-spacing: 2px;

	&::placeholder {
		letter-spacing: 2px;
	}
}

p.error {
	color: red;
	margin-top: 5px;
	font-size: .8em;
}

input.button {
	border-bottom: none;
	margin-top: 3em;
}
